body {
  background: #263238;
  padding-top: 30px; }
  body header {
    margin-bottom: 20px;
    color: #eceff1;
    background: #1d272d;
    font-size: 50px;
    font-weight: bolder;
    border: 5px solid #e84e40; }
  body .vresize {
    resize: vertical; }
  body .panel-heading {
    transition: all 100ms linear;
    pointer-events: none; }
    body .panel-heading a {
      pointer-events: auto; }
    body .panel-heading a:hover {
      text-decoration: none; }
  body .panel-heading:hover {
    box-shadow: 0px 0px 14px 2px rgba(102, 174, 233, 0.8);
    cursor: pointer; }
