body
  background: rgb(97,191,154)
  padding-top: 30px

  header
    max-width: 1140px

    margin: auto
    margin-bottom: 20px

    display: flex
    align-items: center
    justify-content: center

    background: rgb(190,205,76)

    font-size: 50px
    font-weight: bolder

    border: 5px solid rgb(18,13,12)

  #app
    .delete
      margin-right: 8px

    .ingridients-area
      resize: vertical
.vresize
  resize: vertical
